body{
	background: linear-gradient(-45deg, forestgreen, maroon, midnightblue);
	background-size: 41000% 400%;
	animation: animate 15s linear infinite;
}

.hero-logo{
	float: left;
	max-height: 4rem;
	max-width: 4rem;
	margin-left: 1rem;
}

.hero-nav-bar{
	background-color: indigo;
	min-height: 8vh;
}

.hero-nav-section ul{
 	margin: 0;
    text-align:center;
    list-style: none;
}

.hero-nav-section li{
	display: inline-block;
	justify-content: space-between;
	padding-top: 2rem;
}

.hero-nav-section a{
	padding: .25rem;
}

.hero-nav-section li a:hover{
	background: linear-gradient(45deg, gold, darkgoldenrod);
	background-size: 300% 400%;
	animation: animate 1s linear infinite;
	border-radius: .5rem;
	border: thick solid;
}

@keyframes animate{
	
	0%{
		background-position: 0% 50%;
	}
	
	50%{
		background-position: 100% 50%;
	}
	
	100%{
		background-position: 0% 50%;
	}
}

.hero-section{
	min-height: 60vh;
	min-width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 10rem !important;
	max-height: 100vh;
	border: thick solid;
}

.hero-text h2{
	text-align: center;
	color: #000;
	font-size: 4rem;
	padding-bottom: 2rem;
}

.hero-button{
	width: 25rem;
	height: 5rem;
	border-radius: 2rem;
	background-color: #000000;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;	
	margin: auto;
}

.hero-button-text{
	font-size: 2.5rem;
	color: gold;
}

.hero-button:hover{
	background: linear-gradient(45deg, gold, darkgoldenrod);
	background-size: 300% 400%;
	animation: animate 1s linear infinite;
	color: black;
}

.hero-button-text:active{
	background-color: black;
	color: indigo;
}

.about-me-section{
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	border: thick solid;
}

.about-me-section h1{
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.about-me-information p{
	justify-content: center;
	word-wrap: break-word;
	margin-top: 13rem;
}

.project-section{
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: thick solid;
}

.project-section h2{
	font-size: 1rem;
	margin-bottom: 5rem;
}

.project-text{
	font-size: 1rem;
	padding: 1rem;
	word-wrap: break-word;
}

.project-card{
	width: 20rem;
	height: 35rem;
	box-shadow: .5rem .5rem 1rem .5rem gold;
}

.project-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-image{
	margin-top: 1rem;
	height: 10rem;
	width: 17rem;
	border-radius: 3rem;
	padding-bottom: 1rem;
}

.project-link{
	color: gold;
	text-decoration: none;
}

.project-more-info{
	color: cyan;
	text-decoration: none;
}

.FAQ-section{
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	justify-content: center;
	border: thick solid;
	
}

.FAQ-section h2{
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.FAQ-section p{
	padding: 2rem;
}

.FAQ-section ul li{
	padding: .5rem .5rem .5rem 2rem;
	list-style: none;
}

.merch-section{
	min-height: 60vh;
	min-width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 10rem !important;
	max-height: 100vh;
	border: thick solid;
}

.contact-section{
	border: thick solid;
}

.contact-form{
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), gold ), url("images/Duality.png");
	background-position: center;
	background-size:auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	width: auto;
	max-width: 100%;
}

.contact-input-group{
	margin-bottom: 2.25rem !important;
	position: relative;
}

input, textarea{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
}

label{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: .25rem !important;
	transition: 0.2s;
	font-size: .75rem !important; 
}

.contact-button{
	padding: 10px 0;
	color: #fff;
	outline: none;
	background: transparent;
	border: 1px solid #fff;
	width: 100%;
}

input:focus~label,input:valid~label,textarea:focus~label, textarea:valid~label{
	top: -35px;
}

.contact-form-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-form-row .contact-input-group{
	flex-basis: 46%;
}

footer{
	background-color: #010101;
	color: #C3C2BE;
	margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
}

.hero-socials-layout{
	padding-top: .5rem;
	padding-bottom: 1rem;
	text-align: center;
}

.hero-socials-icon{
	height: 2rem;
	margin: 1.5rem;
}

@media only screen and (max-width: 1000px){
	
	.hero-nav-section{
		font-size: 2rem;
	}
	
	.hero-section{
		font-size: 2rem;
	}
	
	.about-me-section{
		font-size: 2rem;
	}
	
	.about-me-information p{
		justify-content: center;
		word-wrap: break-word;
		margin-top: 10rem;
	}
	
	.project-section{
		padding-bottom: 5rem;
		font-size: 2rem;

	}
	
	.project-section h2{
		font-size: 1rem;
		margin-bottom: 5rem;
		margin-top: 5rem;

	}
	
	.FAQ-section{
		padding-bottom: 5rem;
		font-size: 2rem;
	}
	
	.contact-section{
		font-size: 2rem;
	}
	
	.hero-socials-icon{
		height: 2rem;
	}
}
		
@media (max-width: 8.5in){ 
	 :root {font-size: 18px; 
	}
}
	
@media (max-width: 5.0in){ 
	 :root { font-size: 16px; 
	} 
} 