body{
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	overflow-x: hidden;

}

.gradient {
	width: 40vw;
	height: 20vw;
	background: linear-gradient (-45degree, #ee7752,
				#e73c7e, #95814F4, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	border-radius: 20px;
	box-shadow: 0px 0px 20px black;
}

@keyframes gradient{
	0%{
		background-position: 0% 50%:
	}
	50%{
		background-position: 100% 50%:
	}
	100%{
		background-position: 0% 50%:
	}
}

	.main{
		
		background-color: #31302E;
		height: 105vh;
		color: #C3C2BE;
		font-size: 40px;
		
}


footer{
	background-color: #010101;
	color: #C3C2BE;
	padding: 1px;
}
.contact-form{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), gold ), url("images/Duality.png");
	background-position: center;
	background-size:auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
form{
	width: auto;
	max-width: 600px;
}
.input-group{
	margin-bottom: 30px;
	position: relative;
}
input, textarea{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
	font-size:15px;
}
label{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	transition: 0.2s;
}
.button-contact{
	padding: 10px 0;
	color: #fff;
	outline: none;
	background: transparent;
	border: 1px solid #fff;
	width: 100%;
}
input:focus~label,input:valid~label,textarea:focus~label, textarea:valid~label{
	top: -35px;
	font-size: 14px;
	
}
.form-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-row .input-group{
	flex-basis: 46%;
}

.nav{
	background-color: black;
		height: 100%;
		color: #C3C2BE;
		font-size: 40px;
		
}
.nav-list{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
		background-color: black;

	

}

ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none; 
	width:450px;
	font-size: 15px;
	
}


li{
	text-decoration: none;
}

/*text-beginning*/
h1{
	font-size: calc(2rem + 3vw);
	margin: .025;
}
h2{
	font-size: 30px; 
	margin: .025;
}
p{

	margin: .025;
}

.main-main-text{
		font-size: calc(1rem + 1vw);

	
}


.sub-text{
	font-size: 15px;
	font-weight: 300;
}

.main-area{
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}
.main-text{
	margin-left: 80px;
	margin-bottom: 200px;
}
.button1{
	width: 450px;
	height: 100px;
	border-radius: 30px;
	background-color: #000000;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
	color: #C3C2BE;
		
}
  
.button-text1:hover{
	background-color: black;
	color: gold;
}
.button-text1:active{
	background-color: black;
	color: indigo;
}

.logo{
	display: flex;
	justify-content: flex-start;
	margin: 15px;
}
.socials{
	display: flex;
	flex-flow: column wrap;
	padding-bottom: 200px;

}
.socials-icon{
	height: 35px;
	margin: 13px;
}

.sub-section{
	
	display: flex;
	justify-content: space-around;
	padding: 80px;
}
.sub-section2{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 80px;
}

.sub-sectionFAQ{
	
	display: flex;
	justify-content: space-around;
	
}

.headshot{
	width: 300px;
	border-radius: 300px;
}
.headshot-container{
	display: flex;
	align-items: center;
}
.project-card{
	width: 300px;
	height: 500px;
	box-shadow: 5px 5px 10px 5px gold;
	margin: 10px;
}
.project-container{
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width:1000px){
	
	.main-area{
		height: auto;
	}
	
	.project-container{
		display: flex;
		flex-wrap: wrap;
		
	}	
}

.project-image{
	margin-top: 25px;
	height: 150px;
	width: 250px;
	border-radius: 20px;
}
.project-link{
	color: gold;
	text-decoration: none;
	
}
hr{
	margin-left: 20px;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #94908d;
}

.hamburger{
	display: none;
	}

.hamburger:focus{
	outline: 0;
}


@media only screen and (max-width: 1000px){
	.hamburger{
		display: block;
		border: 0;
		background-color: transparent;
		font-size: 30px;
		margin: 20px;
		align-self: center;
	}
	ul{
		display: none;
		background-color: transparent;
		text-align-last: center;
		margin: 0px;
	}
	
	ul.show{
	display: block;
	}
	
	nav{
	display: flex;
	flex-direction: column-reverse;
	background-color: indigo;
	}
	
	.logo {
		display: none;
	}
	
	@media only screen and (max-width:1000px){

.socials-icon{
	display: inline-flex;
	height: 80px;
	margin: 13px;
}

	}


}

	@media only screen and (max-width: 1000px) {
   
    
    .main-area{
        display: inline-block;
    }
		
		@media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
 }
}